<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device‑width, initial‑scale=1.0" />
  <title>Магазин — Корзина</title>
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/basket.css" />
</head>
<body>
    <% let sum = 0 %>
    <%- include('blocks/header') -%>

  <main class="main">
    <section class="cart">
        <h3>Ваша корзина <%= user.name %> <%= user.otc %></h3>

      <div class="container">
          
              <div class="cart-list">
                <!-- Товар 1 -->

                <% for(let i = 0; i<len; i++){ %>
                <div class="cart-item">
                  <img src="<%= products[i].img %>" alt="Товар 1" />
                  <div class="cart-info">
                    <h4><%= products[i].name %></h4>
                    <p class="price"><%= products[i].prise %> ₽</p>
                    <div class="qty">
                      <button class="qty-btn">−</button>
                      <span class="qty-value"><%= products[i].number %></span>
                      <button class="qty-btn">+</button>
                    </div>
                  </div>
                  <button class="btn remove-btn">Удалить</button>
                </div>
                <% sum += Number(products[i].prise)*Number(products[i].number)
              } %>
          

        <div class="cart-total">
          <h4>Итого: <span class="total-amount"><%= sum %>₽</span></h4>
          <button class="btn checkout-btn">Оформить заказ</button>
        </div>
     
     
     
      </div>
    </section>
  </main>

    <%- include('blocks/footer') -%>

</body>
</html>