<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device‑width, initial‑scale=1.0" />
  <title>Маленький интернет‑магазин</title>
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>

    <%- include('blocks/header') -%>

  <main class="main">
    <section class="hero">
      <div class="container">
        <h2>Добро пожаловать в наш магазин</h2>
        <p>Найдите лучшие товары по выгодным ценам</p>
      </div>
    </section>

    <section class="products">
      <div class="container">
        <h3>Популярные товары</h3>

<div class="product-list">
        <% if (len==0){
          %>
          <p>Товаров нету</p><%
        } 
        else{ %>
        <% for(i=0; i<len; i++){ %>
          
            <div class="product-card">
              <img src="<%= img[i] %>" alt="Товар 1" />
              <h4><%= name[i] %></h4>
              <p class="price"><%= prise[i] %> ₽</p>
              <a href="/item/<%=id[i]%>"><button class="btn">Подробности</button></a>
            </div>
        <% }
        }
         %>
</div>  
        
      </div>
    </section>
  </main>

    <%- include('blocks/footer') -%>

</body>
</html>