<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device‑width, initial‑scale=1.0" />
  <title>Магазин — Товар</title>
  <link rel="stylesheet" href="/styles/index.css" />

</head>
<body>

    <%- include('blocks/header') -%>

  <main class="main">
    <section class="product-detail">
      <div class="container">
        <div class="product-card big">
          <img src="<%= image %>" alt="Товар" />
          <div class="product-info">
            <h2><%= name %></h2>
            
            <p class="price"><%= prise %> ₽</p>
            
            <div class="actions">
              <button class="btn cart-btn">В корзину</button>
              <button class="btn fav-btn">В избранное</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

    <%- include('blocks/footer') -%>

</body>
</html>