
<form action="/user_profile/<%= id_user %>" method="post">
    <p>фамилия</p><input type="text" name="fam" id="" value="<%= fam %>"><br>
    <p>имя</p><input type="text" name="name" id="" value="<%= name %>"><br>
    <p>отчество</p><input type="text" name="otch" id="" value="<%= otc %>"><br>
    <p>почта</p><input type="text" name="email" id="" value="<%= email %>"><br>
    <p>тел.</p><input type="text" name="phone" id="" value="<%= phone %>"><br>
    <p>логин</p><input type="text" name="login" id="" value="<%= login %>"><br>
    <button type="submit">Обновить данные</button>
</form>